@import "./components/component-icon-inside-circle.css";

/*
-----------
VARIABLES
-----------
*/

:root {
  --my-bg-main: #f8f9fa;
  --my-bg-searchbar: #e5e5e5;
  --icon-bell-color: #ff8f00;
  --my-bg-sidebar: #142a40;
  --my-bg-main-sect: #1b72e8;
  --header-height: 70px;
  --logo-max-height: 54px;
  --badge-bg: #165bba;
}

/*
-----------
HEADER
-----------
*/

header {
  background-color: var(--my-bg-grey);
  height: var(--header-height);
}

header .my-navbar {
  background-color: white;
}

header .fa-bell {
  color: var(--icon-bell-color);
}

header .my-bg-searchbar {
  background-color: var(--my-bg-searchbar);
}

header .logo-dimension {
  max-height: var(--logo-max-height);
}

/*
-----------
MAIN
-----------
*/

main {
  height: calc(100vh - 70px);
  background-color: var(--my-bg-main);
}

.side-bar {
  width: 70px;
  background-color: var(--my-bg-sidebar);
  background-image: url(../img/sidebar-bg.png);
}

.content-main {
  width: calc(100vw - 70px);
}

#first-sect-main {
  background-color: var(--my-bg-main-sect);
}

#first-sect-main .badge {
  background-color: var(--badge-bg);
}

.my-btn-color {
  color: grey;
  border-color: gray;
}

.img-table {
  width: 30px;
}

/*
-----------
RESPONSIVE
-----------
*/

@media screen and (min-width: 1200px) {
  /*side-bar*/
  .side-bar {
    width: 150px;
  }

  .side-bar span:nth-of-type(2) {
    width: 40px;
  }

  /*main content*/
  .content-main {
    width: calc(100vw - 150px);
  }

  .my-offcanvas {
    width: 40% !important;
  }
}
