/*
-----------
VARIABLES
-----------
*/

:root {
  --my-bg-header: #f8f9fa;
  --my-bg-searchbar: #e5e5e5;
  --icon-bell-color: #ff8f00;
  --my-bg-sidebar: #142a40;
  --my-bg-main-sect: #1b72e8;
}

/*
-----------
HEADER
-----------
*/

header {
  background-color: var(--my-bg-header);
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

header .my-navbar {
  background-color: white;
}

header .fa-bell {
  color: var(--icon-bell-color);
}

header .my-bg-searchbar {
  background-color: var(--my-bg-searchbar);
}

header .logo-dimension {
  max-height: 54px;
}

/*
-----------
MAIN
-----------
*/

main {
  margin-top: 70px;
  height: calc(100vh - 70px);
}

.side-bar {
  width: 70px;
  background-color: var(--my-bg-sidebar);
  background-image: url(../img/sidebar-bg.png);
}

.content-main {
  width: calc(100vw - 70px);
  background-color: yellow;
}

#first-sect-main {
  background-color: var(--my-bg-main-sect);
}

#first-sect-main .badge {
  background-color: #165bba;
}

/*
-----------
RESPONSIVE
-----------
*/

@media screen and (min-width: 1200px) {
  /*side-bar*/
  .side-bar {
    width: 150px;
  }

  .side-bar span:nth-of-type(2) {
    width: 40px;
  }

  /*main content*/
  .content-main {
    width: calc(100vw - 150px);
  }
}
