/* container same width same height circular*/
.my-component-rounded {
  --component-dim: 50px;
  width: var(--component-dim);
  height: var(--component-dim);
  border-radius: 50%;
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /container same width same height circular*/
